<p id="notice"><%= notice %></p>
<nav class="navbar navbar-default navbar-fixed-top navbar-custom">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-head" href="#">
        <%= @picture.title %>
      </a>
      <p class="navbar-text navbar-right">
        <%= link_to 'Edit', edit_picture_path(@picture) %>
        <%= link_to 'Back', pictures_path %>
        <%= link_to 'Destroy', picture_path(@picture),           #JRD110215 added
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
      </p>
    </div>
  </div>
</nav>
<div class='row col-xs-12 show'>

  <p id="show">
    <%= image_tag @picture.url, size: "500" %>
  </p>

</div>
