

<p id="notice"><%= notice %></p>
<nav class="navbar navbar-default navbar-fixed-top navbar-custom">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="navbar-head">
        <%= @picture.title %>
        <p class="navbar-text navbar-right">
         <%= link_to 'Home <span class="glyphicon glyphicon-home"></span>   '.html_safe, pictures_path,  class: "top-nav" %>
        </p>
      </div>
    </div>
  </div>
</nav>
<div class='col-xs-12 content'>
  <div class="col-md-8" id="show">

    <h1>New Picture</h1>

    <%= render 'form' %>

    <%= link_to 'Back', pictures_path %>
  </div>
</div>
